<footer id="footer">
    <div class="text-center w-1/4 text-gray-50 m-auto ">
        <h1 class=" h1 font-bold text-3xl"><%= presentDay %> </h1>
        <h1 class="my-5"><i class="fa fa-copyright" aria-hidden="true"></i>
            <span class=" h1 font-bold text-3xl ">&#8455;nrich&#273;&#273; </span> </h1>
    </div>

</footer>


<script src="app.js"></script>
</body>



</html>